<h3>INGRESE LOS GRUPOS</h3>
<div class="form-group" ng-repeat="pareja in parejas">
    <label for="grupos">{{pareja.label}}</label>
    <input type="text" class="form-control" id="pareja{{pareja.id}}" placeholder="Pareja {{pareja.id}}">
    <small class="form-text text-muted">Primer ID desde 1000 al 1999 y Segundo desde 2000 al 2999. Separados por ; (ej: 1001;2001)</small>
</div>
<button type="button" class="btn btn-primary" ng-click="enviarGrupos()">Enviar Datos</button>
Los empleados para el viaje son: <input type="text" ng-model="respuesta" value="" ng-disabled="true" />
</form>
